@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <<div class="text-center">
        <h1 class="display-4">Welcome to WhatAndWhen</h1>
        <p>Your last visit was: @Context.Items["LastVisit"]</p>
    </div>
</div>
